Repository realm/realm-js, pull requests merged in 2019-08, with the labels that each got.

#2468 Android Studio 3.5+: Gradle task configuration avoidance fix
  CHANGELOG.md
  react-native/android/publish_android_template
Labels: T:Bug

#2479 Bring back Realm.Sync to generated API doc
  docs/async_open_task.js
  docs/sync.js
Labels: T:Doc

#2478 Upgrade to sync v4.7.3
  CHANGELOG.md
  dependencies.list
Labels: T:Internal

#2486 Try to reproduce #2350
  tests/js/realm-tests.js
  tests/js/schemas.js
Labels: T:Test

#2487 Upgrade gradle and build tool
  tests/react-test-app/android/build.gradle
  tests/react-test-app/android/gradle/wrapper/gradle-wrapper.properties
Labels: T:Test

#2489 Make it possible to build without sync
  binding.gyp
  src/js_realm.hpp
  src/node/node_init.cpp
Labels: T:Internal

#2488 Test for multiple Node.js versions on Windows
  Jenkinsfile
  package-lock.json
  package.json
Labels: T:Internal

#2471 Simple test of slice()
  tests/js/list-tests.js
Labels: T-Test
